<!--
 * @Author: CollapseNav
 * @Date: 2019-12-29 19:32:07
 * @LastEditors  : CollapseNav
 * @LastEditTime : 2020-01-02 16:10:48
 * @Description:
 -->
<div class="middle">
  <form
    (ngSubmit)="onSubmit()"
    class="form-box-radius logreg-body"
    #signinform="ngForm"
  >
    <div>
      <h1 class="weight-h1" style="margin-top: 20px;">
        SignIn
      </h1>
    </div>
    <div>
      <input
        type="text"
        class="input-radius"
        [(ngModel)]="model.userAccount"
        name="userAccount"
        placeholder="UserAccount"
      />
    </div>
    <div>
      <input
        type="password"
        class="input-radius"
        [(ngModel)]="model.password"
        name="password"
        placeholder="PassWord"
      />
    </div>
    <div>
      <button type="submit" class="btn btn-primary btn-submit">SignIn</button>
    </div>
    <div style="text-align: center;">
      <p style="margin-top: 40px">If you don't have account.Please</p>
      <p>Click here to <a href="signup" style="color: #007bff;">Sign Up</a></p>
    </div>
  </form>
</div>
