<!--
 * @Author: CollapseNav
 * @Date: 2020-01-02 22:45:04
 * @LastEditors  : CollapseNav
 * @LastEditTime : 2020-01-03 15:20:32
 * @Description:
 -->

<div class="container-fluid">
  <div class="row">
    <nav
      class="col-md-2 d-none d-md-block bg-light sidebar"
      style="padding-top: 56px;top: 0;bottom: 0;position: fixed;z-index: 100;"
    >
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="example/counter">
            <h4>Counter</h4>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="example/edituser">
            <h4>EditUser</h4>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="example/table">
            <h4>Table</h4>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
