<!--
 * @Author: CollapseNav
 * @Date: 2020-01-03 01:32:36
 * @LastEditors  : CollapseNav
 * @LastEditTime : 2020-01-03 16:27:13
 * @Description:
 -->
<div class="container">
  <div class="row col-12">
    <div class="col-2"></div>
    <div class="col-6 align-self-lg-center">
      <form class="form-group">
        <div class="form-group">
          <label class="col-form-label">UserAccount: </label>
          <input type="text" class="form-control" disabled />
        </div>
        <div class="form-group">
          <label class="col-form-label">UserName: </label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label class="col-form-label">PhoneNumber: </label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label class="col-form-label">CreateDate: </label>
          <input type="text" class="form-control" disabled />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>
